@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i&display=swap');

html {
	font-size: 10px;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	margin: 0;
	background-color: #40514e;
	color: #f5f5f5;
}

header {
	position: fixed;
	margin: 0;
	display: flex;
	width: 100%;
	background-color: #2f89fc;
}

.logo {
	height: 60px;
}

.logo > img {
	position: fixed;
	max-width: 100%;
	width: 60px;
	margin-left: 10vw;
}

@media (max-width: 480px) {
	.logo > img {
		margin-left: 5vw;
	}
}

nav {
	width: 100%;
	max-width: 100%;
}

nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	max-width: 100%;
	margin-right: 10vw;
}

li {
	font-weight: 600;
	list-style: none;
	margin-right: 90px;
	padding: 0 5px;
}

@media (max-width: 480px) {
	li {
		margin-right: 50px;
		padding: 0 5px;
	} 
}

li > a {
	color: #f5f5f5;
	position: absolute;
	text-decoration: none;
}

li > a:hover {
	transform: scale(1.1);
	color: #30e3ca;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

#img-container {
	margin: 0;
}

#img-container > img {
	max-width: 100%;
	height: auto;
	margin: 0;
}

#about {
	max-width: 100%;
}

#description {
	margin: 0px auto 50px auto;
	max-width: 600px;
}

@media (max-width: 480px) {
	#description {
		font-size: 1.4rem;
	}
}

#works {
  	margin: 0px auto 50px auto;
  	padding: 0px;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
}

@media (max-width: 480px) {
	#works {
		font-size: 1.4rem;
	}
}

#art {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 2px solid #f5f5f5;
	border-radius: 3px;
	margin: 5px;
}

.title {
  background-color: #30e3ca;
  color: #40514e;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #f5f5f5;
}

.title:hover {
	color: #f5f5f5;
	cursor: pointer;
}

@media (max-width: 490px) {
	.title {
		font-size: 1.4rem;
		padding: 5px 0;
		border-bottom: 2px solid #f5f5f5;
	}
}

#art > img {
	max-width: 100%;
}

#contact {
	margin: 0px auto 50px auto;
}

#icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 100%;
}

i {
	font-size: 50px;
	padding: 0 5px;
	color: #f5f5f5;
	text-decoration: none;
}

i:hover {
	transform: scale(1.1);
	color: #30e3ca;
}

@media (max-width: 480px) {
	i {
		font-size: 10vw;
	}
}

footer {
	background-color: #2f89fc;
	padding: 5px;
	margin: 0px auto 0px auto;
}

footer > span {
	font-size: 1.2rem;
}